[submodule "sigrok-firmware"]
	path = sigrok-firmware
	url = git://sigrok.org/sigrok-firmware
[submodule "sigrok-firmware-fx2lafw"]
	path = sigrok-firmware-fx2lafw
	url = git://sigrok.org/sigrok-firmware-fx2lafw
[submodule "sigrok-util"]
	path = sigrok-util
	url = git://sigrok.org/sigrok-util
[submodule "libsigrok"]
	path = libsigrok
	url = https://github.com/haikumuse/libsigrok.git
	branch = pxview-fork
[submodule "libsigrokdecode"]
	path = libsigrokdecode
	url = https://github.com/haikumuse/libsigrokdecode.git
	branch = pxview-fork
